/* Member form */
.profile-container .profile-header {
  text-align: left;
  font-size: 2rem;
}

.form-row,
.info-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-row {
  align-items: flex-start;
}

.form-row .label,
.info-row .label {
  width: 200px;
  background-color: lightgray;
  justify-content: flex-end;
  border-radius: 2px;
  font-weight: bold;
}

.form-row .label,
.info-row .label,
.form-row .value {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 2.5rem;
}

.profile-form,
.profile-info {
  width: 50%;
}

.profile-inner-container {
  display: flex;
  flex-direction: row;
}

.profile-details {
  padding: 0.5rem;
}

.member-profile-talks,
.member-profile-prayers {
  display: flex;
  flex-direction: column;
  text-align: left;
}
