.add-talk-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
}

.talk-member {
  width: 250px;
}

.talk-topic {
  width: 300px;
}
