.add-talk-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  text-align: left;
}

.talk-member {
  min-width: 270px;
}

.talk-topic {
  width: 100%;
}
