.sacrament-meetings-container {
  padding: 1rem;
}

.sacrament-meeting-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.25rem 0.5rem;
  width: 100%;
  background-color: #eee;
  margin-bottom: 0.5rem;
}

.sacrament-meeting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  width: 400px;
}

.sacrament-meeting-date {
  width: 70px;
  font-weight: 800;
}

.sacrament-meeting-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.sacrament-meeting-talks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sacrament-meeting-talk {
  text-align: left;
}

.sacrament-meeting-prayer-container {
  text-align: left;
}
