.speaker-tracker-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.data-grid-header {
  font-size: 1rem;
  background-color: hsl(210, 16%, 93%);
}

.filter-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.switch-label {
  width: 60px;
}

.even {
  background-color: hsl(210, 16%, 93%);
}
